
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы    
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow(){
        $("#popup1").show();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
    }
</script>



<% provide(:title, 'Курилка') %>
<p><% provide(:img, "room.jpg") %>
<% provide(:h1, 'Поговорим о наболевшем...') %></p>
	<div class = "userroom">
		<% if signed_in? %>
			<%= image_tag(@current_user.avatar_url) if @current_user.avatar? %>
			<%= image_tag(img_title("personal.png")) if !@current_user.avatar?%>
			<h3><%= @current_user.name %></h3>
			<%= link_to "Мой профиль", edit_user_path(current_user) %>
			| <%= link_to "Пользователи", users_path %> 
			<% if @current_user.microposts.any? %>
				<p class = "bot">Вопросы: <%= @current_user.microposts.count %><p>
    		<% end %>

        	<%= render 'shared/stats' %>
			<%= render 'shared/micropost_form' %>

		<% else %>
			<%= image_tag(img_title("personal.png")) %>
			<h3>Гость</h3>
			<p class = "warning">Опубликовать вопрос может только зарегистрированный пользователь!</p>
		<% end %>
	</div>
	
	<div class = "lenta">
		<h4>Лента</h4>
		<% if signed_in? %>

		<%= render 'shared/feed' %>

		<% end %>
	</div>




