    <li>
      <%= image_tag(user.avatar.thumb.url) if user.avatar? %>
      <%= image_tag(img_title("personalmini.png")) if !user.avatar?%>

     <% if current_user.admin? || current_user?(user) %>
        <%= link_to user.name, edit_user_path(user) %>
      <% else %>
          <%= link_to user.name, user %>
      <% end %>


       <% if user.admin? && current_user.admin? %>
      <sup>A</sup>
       <% end %>
       <% if user.dbzi? && current_user.admin? %>
      <sup>S</sup>
       <% end %>

      <% if 
      	current_user.admin? && 
      !current_user?(user) %>
    	| <%= link_to "Удалить", user, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  	<% end %>
    </li>
