<% provide(:title, "Редактировать профиль") %>
<% provide(:h1, "Редактировать профиль") %>
<% provide(:img, "reg.jpg") %>

 <div class = "signup">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <% if current_user.admin? && !current_user?(@user) %>
        <%= f.label :name, "Имя" %>
        <%= f.text_field :name , disabled:true%> 

        <p> <%= f.check_box :admin  %> Администратор? </p>
      <% else %>
        <%= f.label :name, "Имя" %>
        <%= f.text_field :name %> 
      <% end %>  

        <%= f.label :email %>
        <%= f.text_field :email , disabled:true%>

        <%= f.label :password, "Пароль" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Подтверждение пароля" %>
        <%= f.password_field :password_confirmation %>
      
      <% if current_user?(@user) %>    
      <%= f.label  "Аватар" %>
      <%= image_tag(@user.avatar_url) if @user.avatar? %> <!--загруженая картинка, если присутствует-->
      <%= image_tag(img_title("personal.png")) if !@user.avatar?%>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %> <!--кешированое изображение-->
      <% end %>

      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>