<% provide(:title, "Регистрация") %>
<% provide(:h1, "Регистрация (все поля обязательны для заполнения)") %>
<% provide(:img, "reg.jpg") %>

 <div class = "signup">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Имя" %>
      <%= f.text_field :name%>

      <%= f.label :email %>
      <%= f.text_field :email%>

      <%= f.label :password, "Пароль", title: "Строчные и прописные латинские буквы, цифры, спецсимволы. Минимум 8 символов" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтверждение пароля" %>
      <%= f.password_field :password_confirmation %>

      <%= show_simple_captcha %>

      <%= f.submit "Создать мой аккаунт" %>
    <% end %>
  </div>