<% provide(:title, @user.name) %>
<% provide(:img, "follow1.jpg") %>
<% provide(:h1, @title) %>
<div class="showus">
      <%= image_tag(@user.avatar_url) if @user.avatar? %> <!--загруженая картинка, если присутствует-->
      <%= image_tag(img_title("personal.png")) if !@user.avatar?%>
      <h3><%= @user.name %></h3>
      <%= link_to "Вопросы: #{@user.microposts.count}", @user %>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to image_tag(user.avatar.thumb.url, :title => "#{user.name}") if user.avatar? %>
            <%= link_to image_tag(img_title("personalmini.png"), :title => "#{user.name}") if !user.avatar?%>
          <% end %>
        </div>  
      <% end %>
</div>
  <div class="showlen">
    <% if @users.any? %>
      <ul class="users">
        <%= render 'muser' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>