<% provide(:title, 'Курилка') %>
<p><% provide(:img, "room.jpg") %>
<% provide(:h1, 'Поговорим о наболевшем...') %></p>




<div class="b-popup" id="popup1">
    <div class="b-popup-content">
         <span class = "imgicon"><%= link_to_function image_tag(img_title("close.jpg")), "history.back()" %></span>

<div class = "userroomlook">
  <%= image_tag(@userpost.avatar_url) if @userpost.avatar? %>
  <%= image_tag(img_title("personal.png")) if !@userpost.avatar?%>
  <h3><%= @userpost.name %></h3>
	<div class = "micropostcontent"><%= @micropost.content %></div>

<div class="b-c-popup-content">
  <ol class="microposts">

  <% if @comments.blank? %><p class = "cent">Комментариев нет <br><%= image_tag(img_title("no.jpg")) %></p><%end%>

  <% @comments.each do |comment| %>
  <li>
    <% comuser = User.find_by_id(comment.user_id) %>


<% if current_user.dbzi? &&  current_user.id == comuser.id %>
 

         <span class = "imgicon"><%= link_to image_tag(img_title("close.png"), :title => "Удалить") , comment, method: :delete,
                                     data: { confirm: "Вы уверены?" },
                                     title: comment.content %></span>                                                               
  <% end %>



  <%= image_tag(comuser.avatar.thumb.url) if comuser.avatar? %>
  <%= image_tag(img_title("personalmini.png")) if !comuser.avatar?%>
  <b><%= comuser[:name] %></b>
  <span class="contentmic"><%= comment.content %></span>
  <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>




</li>
<ol class="microposts">
  <% end %>
<%= will_paginate @comments %>
</div>



<% if !current_user?(@userpost) &&  current_user.dbzi? %>

<%= form_for(Comment.new) do |f| %>

  <div class = "format">
    <%= f.text_area :content%>
    <%= f.hidden_field :micropost_id , value:request.original_url.slice(request.original_url.rindex('/')+1..request.original_url.size).to_i %>
  </div>
  <%= f.submit "Ответить", class: "btn btn-large btn-primary" %>

<% end %>

<% end %>




</div>
    </div>
</div>