<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
  <div class="layout">
    <div class="col1"><div class="wrap"></div></div>
    <div class="col3"><div class="wrap"></div></div>
    <div class="col2">
      <div class ="bordertop"></div>
      <div class = "content">

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        
        <p><%= image_tag(img_title(yield(:img))) %> 
        <h1><%= full_h1title(yield(:h1)) %></h1></p>
        <%= yield %>
      </div>
      <div class ="borderbottom"></div>
    </div>
  </div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>