<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
      <div>
        <div>
          <%= link_to "ДБ АО Сбербанк", '#', id: "logo" %>
          <nav>
            <ul>
              <li><%= link_to "Главная", '/oib/home' %></li>
              <li><%= link_to "Новости", '/oib/news' %></li>
              <li><%= link_to "Структура", '/oib/structure' %></li>
              <li><%= link_to "Скорая помощь", '/oib/help' %></li>
              <li><%= link_to "Курилка", '/oib/room' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div>
      <%= yield %>
      <p>© 2014 Народное творчество ОИБ ДБиЗИ</p>
    </div>
</body>
</html>